<!DOCTYPE html>
<html>
<head>
    <title>Productos en tiempo real</title>
</head>
<body>
    <h1>Lista de Productos en tiempo real</h1>
    <ul>
        {{#each products}}
        <li>{{this}}</li>
        {{/each}}
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        socket.on('productAdded', function (product) {
            // Actualizar la lista de productos en tiempo real
            var productItem = document.createElement("li");
            productItem.innerText = product;
            document.querySelector("ul").appendChild(productItem);
        });

        socket.on('productRemoved', function (product) {
            // Eliminar el producto de la lista en tiempo real
            var productItems = document.querySelectorAll("li");
            productItems.forEach(function (item) {
                if (item.innerText === product) {
                    item.remove();
                }
            });
        });
    </script>
</body>
</html>
