<div class="container">
    <div>
        <h1>Listado de productos</h1>
        <div id="caja"></div>
    </div>
</div>
<div class="mb-3">
   <form onsubmit="return onsubmit()">
  <label for="exampleFormControlInput1" class="form-label">Nombre del Producto</label>
  <input type="text" class="form-control" id="username" placeholder="Nombre del producto...">
  <textarea class="form-control" id="texto" rows="3" placeholder="Precio"></textarea>
  <input type="submit" value="Enviar" class="btn btn-primary mb-3">
  </form> 
</div>



<script src="/js/index.js"></script>
<script src="/socket.io/socket.io.js"></script>